.category {
  padding: 0px 135px;
  display: flex;
}
.leftCategory {
  flex: 2;
  padding-top: 20px;
  /* position: fixed; */
}

.leftCategory ul li {
  list-style: none;
  margin: 0px 0px;
  padding: 24px 24px;
  border-radius: 8px 0px 0px 8px;
  cursor: pointer;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #011a61;
  transition: all 0.3s ease;
  text-decoration: none !important;
}
/* .leftCategory ul li:hover,
.leftCategory ul li:active {
  font-weight: 600;
  background-color: #fff;
} */
/* .leftCategory ul li {
  font-weight: 600;
  background-color: transparent;
} */
.rightCategory {
  flex: 6;
  background-color: #fff;
  border-radius: 24px;
  padding: 26px 26px;
  display: flex;
  flex-wrap: wrap;
}

.cardCategory {
  width: 275px;
  padding-bottom: 5px;
  background: #ffff;
  border: 2px solid rgba(1, 26, 97, 0.1);
  box-sizing: border-box;
  border-radius: 12px;
  flex-wrap: wrap;
  margin: 8px auto;
}
.cardCategoryImg {
  max-width: 100%;
  padding: 0px 50px;
  background-color: #f3f4f6;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.cardCategoryTitle {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #70798b;
  padding-left: 12px;
  padding-top: 12px;
  /* padding: 12px 1px 12px 12px; */
}
.cardCategoryName {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #011a61;
  padding-left: 12px;
  padding-top: 10px;
  /* padding: 11px 16px 12px; */
}

.categoryChange {
  display: flex;
  padding: 40px 160px;
}
.categoryChange p {
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #1f2022;
  cursor: pointer;
  text-decoration: none;
}
.categoryChange p a {
  color: #1f2022;
  cursor: pointer;
  text-decoration: none;
}
.categoryChange span {
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #70798b;
  cursor: pointer;
  transition: all 0.3s ease;
}
.categoryChange span:active {
  color: #1f2022;
}
.categoryChange i {
  color: #70798b;
  line-height: 100%;
  padding: 0 15px;
}
.cardCategory img {
  width: 100%;
  height: 140px;
}

.activeNavLink {
  background-color: #fff;
  width: 100%;
  border-radius: 8px 0px 0px 8px;
  font-size: 16px;
  line-height: 19px;
  color: #011a61;
  font-weight: bold !important;
}

.notActiveLink:hover {
  color: #011a61;
}
.notActiveLink {
  text-decoration: none !important;
  width: 100%;
  display: block;
  padding: 24px;
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
  color: #011a61;
}

@media (max-width: 770px) {
  .category {
    padding: 0 100px;
  }
  .categoryChange {
    padding: 30px 50px;
  }
}

@media (max-width: 630px) {
  .category {
    padding: 0 30px;
  }
}

@media (max-width: 545px) {
  .category {
    display: flex;
    flex-direction: column;
  }
}
